<!DOCTYPE html>
<html>
<head>
  <title>StopIe</title>
  <%= stylesheet_link_tag    "stop_ie/application" %>
  <%= javascript_include_tag "stop_ie/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
